.btn {
	background-color: rgba(255, 255, 255, 0.5);
	display: flex;
	align-items: center;
	color: var(--global-theme);
	font-weight: bold;
}
.btn-position {
	padding: 10px;
	border: 2px solid var(--global-theme);
	border-radius: 100vw;
	gap: 10px;
}
.btn-position svg {
	width: auto;
	height: 50px;
	aspect-ratio: 1;
	fill: transparent;
}
.btn-play,
.btn-reset {
	border-radius: 50%;
	height: 60px;
	aspect-ratio: 1;
	border: none;
}
.btn-play svg {
	width: 100%;
	height: 100%;
}
.btn-grid {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-evenly;
	gap: 20px;
	margin-top: 10px;
	color: var(--global-theme);
}
.btn:not(.Disabled):hover {
	cursor: pointer;
	scale: 1.05;
}
.rotate-animation {
	transition: transform 500ms linear;
	transform: rotate(360deg);
}
.btn.Selected {
	scale: 1.1;
}
.btn.Selected.start {
	border: 2px solid var(--start-selected);
}
.btn.Selected.target {
	border: 2px solid var(--target-selected);
}
.btn.btn-play.Disabled {
	color: var(--play-disabled);
}
