.display {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: auto auto;
	margin-inline: auto;
	margin-top: 20px;
	color: var(--global-theme);
}
.rows {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	padding: 0 10px;
}
.columns {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	grid-column: 2/-1;
	padding: 10px 0;
}
.Board {
	display: grid;
	gap: 0;
	border: 5px solid var(--global-theme);
	aspect-ratio: 1;
	height: auto;
	width: 100%;
}
@media screen and (max-width: 499px) {
	.display {
		width: 80dvw;
	}
}
@media screen and (min-width: 500px) and (max-width: 999px) {
	.display {
		width: 65dvw;
	}
}
@media screen and (min-width: 1000px) {
	.display {
		width: 50dvh;
	}
}
.Square {
	aspect-ratio: 1;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}
.Board > .Square {
	width: 100%;
	height: 100%;
	position: relative;
}

.Board > .Square::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
}

.Board > .Square.Light::before {
	background-color: white;
}
.Board > .Square.Light {
	color: var(--global-theme);
}

.Board > .Square.Dark::before {
	background-color: var(--global-theme);
}
.Board > .Square.Dark {
	color: white;
}

.Board > .Square.Knight::before {
	background-color: var(--knight-background-theme);
}
.Board > .Square.Knight {
	color: var(--knight-fill-theme);
}
.Board > .Square.Knight svg {
	width: 100%;
	height: 100%;
	padding: 10px;
}
