@font-face {
	font-family: "Poppins";
	src: url("./assets/Fonts/Poppins-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Poppins";
	src: url("./assets/Fonts/Poppins-Bold.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
}
:root{
	--global-theme:rgb(44, 39, 39);
	--alt-theme:white;
	--knight-background-theme:rgb(130, 255, 157);
	--knight-start-background-theme:rgb(130, 255, 157);
	--knight-target-background-theme:rgb(255, 94, 94);
	--knight-path-background-theme:rgb(94, 204, 255);
	--play-disabled:rgb(150, 150, 150);
	--target-selected:red;
	--start-selected:green;
	--knight-fill-theme:rgb(0, 0, 0);
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins";
}
body{
	overflow-x: hidden;
}