@font-face {
	font-family: "Poppins";
	src: url("./assets/Fonts/Poppins-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
:root{
	--global-theme:red;
	--knight-background-theme:rgb(130, 255, 157);
	--knight-fill-theme:rgb(0, 0, 0);
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins";
}
